{% extends 'expenses/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'expenses/css/bootstrap-datepicker.min.css' %}">
{% endblock %}


{% block navbar_items %}
	<div class="navbar-nav ml-auto">
		<div class="nav-item">
			<a class="btn btn-info nav-item-inside" href="{% url 'expenses:index' %}">Home</a>
		</div>
	</div>
{% endblock %}


{% block content %}

	<div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="card">
				<div class="card-body">
					<h4 class="text-center">{{ expense_action | title }} Expense</h4>
					{% include 'expenses/messages.html' %}
					{% if expense_action == 'edit' %}
						<form action="{% url 'expenses:edit_expense' expense.id %}" method="POST">
					{% else %}
						<form action="{% url 'expenses:add_expense' %}" method="POST">
					{% endif %}
						{% csrf_token %}

						{{ form.non_field_errors }}
						{% for field in form %}
							<div class="form-group">
								{{ field.label_tag }}
								{{ field|add_class:"form-control" }}
								{{ field.errors }}
							</div>
						{% endfor %}

						<div class="text-center">
							<button type="submit" class="btn btn-primary" id="expenseModalBtn">{{ expense|yesno:'Update,Add' }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<button id="here" class="btn btn-default">Fill</button>
	</div>

{% endblock %}


{% block scripts %}
	<script src="{% static 'expenses/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}


{% block script_tag %}
	<script>
		$(document).ready(function(){

			$('select[name="category"]').change(function(){
				app.populateSubcategories($(this), {{ category_to_subcategory | safe }});
			});

			$('input[name="date_purchased"]').datepicker({
				todayHighlight: true
			});

			{% if expense_action == 'add' %}
				$('input[name="date_purchased"]').datepicker('setDate', new Date());
			{% else %}
				app.populateSubcategories($('select[name="category"]'), {{ category_to_subcategory|safe }});;
				$('select[name="subcategory"]').val("{{ expense.subcategory|safe }}");
			{% endif %}

			// todo
			$('#here').click(function(){
				$('input[name="item"]').val('Poke bowl');
				$('input[name="cost"]').val(13);
				$('select[name="category"]').val('Food');
				app.populateSubcategories($('select[name="category"]'), {{ category_to_subcategory | safe }});
				$('select[name="subcategory"]').val('Eat Out');
			});

		});
	</script>
{% endblock %}