{% extends 'expenses/base.html' %}
{% load static %}


{% block stylesheets %}
	<link rel="stylesheet" href="{% static 'expenses/css/bootstrap-datepicker.min.css' %}">
{% endblock %}


{% block navbar_items %}
	<div class="navbar-nav ml-auto">
		<div class="nav-item">
			<a class="btn btn-info nav-item-inside" href="{% url 'expenses:index' %}">Home</a>
		</div>
	</div>
{% endblock %}


{% block content %}

	<div class="row justify-content-center">
		<div class="col-12 col-md-10 col-lg-8">
			<div class="card">
				<div class="card-body">
					<h4 class="text-center">{{ expense_action | title }} Expense</h4>
					{% include 'expenses/messages.html' %}
					{% if expense_action == 'edit' %}
						<form action="{% url 'expenses:edit_expense' expense.id %}" method="POST">
					{% else %}
						<form action="{% url 'expenses:add_expense' %}" method="POST">
					{% endif %}
						{% csrf_token %}
						<div class="form-group">
							<label for="item">Item:</label>
							<input type="text" id="item" name="item" class="form-control" placeholder="Urban Plates" {% if expense %} value="{{ expense.item }}" {% endif %} required>
						</div>
						<div class="form-group">
							<label for="cost">Cost:</label>
							<div class="input-group">
								<span class="input-group-addon">$</span>
								<input type="number" id="cost" name="cost" class="form-control" placeholder="12.00" step="0.01" {% if expense %} value="{{ expense.cost }}" {% endif %} required>
							</div>
						</div>
						<div class="form-group">
							<label for="date_purchased">Date Purchased:</label>
							<input type="text" id="date_purchased" name="date_purchased" class="form-control" required>
						</div>
						<div class="form-group">
							<label for="category">Category:</label>
							<select id="category" name="category" class="form-control" required>
								<option value="">Select one...</option>
								{% for category in categories %}
									<option value="{{ category }}" {% if expense and expense.category == category %} selected {% endif %}>{{ category }}</option>
								{% endfor %}
							</select>
						</div>
						<div class="form-group">
							<label for="subcategory">Subcategory:</label>
							<select id="subcategory" name="subcategory" class="form-control" required></select>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary" id="expenseModalBtn">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="text-center">
		<button id="here" class="btn btn-default">Fill</button>
	</div>

{% endblock %}


{% block scripts %}
	<script src="{% static 'expenses/js/bootstrap-datepicker.min.js' %}"></script>
{% endblock %}


{% block script_tag %}
	<script>
		$(document).ready(function(){

			// app.populateSubcategories($(this), {{ category_to_subcategory | safe }});
			$('#category').change(function(){
				app.populateSubcategories($(this), {{ category_to_subcategory | safe }});
			});

			$('#date_purchased').datepicker({
				todayHighlight: true
			});

			{% if expense_action == 'edit' %}
				var year = {{ expense.date_purchased|date:'Y' }};
				var month = {{ expense.date_purchased|date:'m' }} - 1;
				var day = {{ expense.date_purchased|date:'d' }};
				$('#date_purchased').datepicker('setDate', new Date(year, month, day));
				app.populateSubcategories($('#category'), {{ category_to_subcategory|safe }});;
				$('#subcategory').val("{{ expense.subcategory|safe }}");
			{% else %}
				$('#date_purchased').datepicker('setDate', new Date());
			{% endif %}

			// todo
			$('#here').click(function(){
				$('#item').val('Poke bowl');
				$('#cost').val(13);
				$('#category').val('Food');
				app.populateSubcategories($('#category'), {{ category_to_subcategory | safe }});
				$('#subcategory').val('Eat Out');
			});

		});
	</script>
{% endblock %}